.page { 
    display: flex;
}

.side-image {
    width: 65%;
}

.side-form {
    flex-grow: 1;
    width: 35%;
}

@media (max-width: 1200px) {
    .side-form  {
      width: 45%;
    }

    .side-image {
        width: 55%;
    }
}

@media (max-width: 1000px), (max-height: 700px) {
    .side-form  {
      width: 100%;
    }

    .side-image {
        width: 0%;
    }
}