.container {
    width: 90%;
    padding-bottom: 50px;
    margin-top: 30px;
    position: relative;
    display: inline-block;
}

.blocked {
    z-index: 2;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
}

.tables {
    width: 100%;
    background: #fff;
    z-index: 0;
    position: absolute;
    top: 0;
}

.table {
    margin-top: 30px;
}

.button { 
    width: 50px !important;
    height: 63px !important;
    border-radius: 88px !important;
    font-size: 29px !important;
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
}

.form {
    text-align: left;
    width: 500px;
    z-index: 2;
    position: fixed;
    top: 0px;
    height: 100%;
    right: -1000px;
    background: #fff;
    color: #000;
    transition: all 1s ease;
    border-left: 1px solid lightgrey;
}

.header {
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding: 15px;
}

.title {
    font-size: 20px;
    text-indent: 20px;
    text-transform: capitalize;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow-y: scroll;
    height: 85%;
}

/* View User Card */

.view {
    text-align: left;
    width: 65%;
    z-index: 2;
    position: fixed;
    top: 100%;
    background: #fff;
    color: #000;
    transition: all 1s ease;
    border: 1px solid lightgrey;
}

.activate {
    top: 20% !important;
}

.view_info {
    display: flex;
}

@media (max-width: 750px) {
    .activate {
        top: 8% !important;
    }

    .view_info {
        display: unset;
    }
}

.view_header {
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding: 15px;
}

.view_title {
    font-size: 25px;
    /* text-indent: 20px; */
    text-transform: capitalize;
    width: 97%;
}

.capitalize {
    text-transform: capitalize;
}


.view_content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow-y: scroll;
    height: 85%;
}

.view_text {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

.chip {
    margin: 2px;
}