.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 0.5px solid lightgray;
}

/* Header Styles */
.brand {
    height: 15vh;
    width: 100%;
    text-align: -webkit-center;
}

.brand .content {
    /* display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 15vh; */
    padding-top: 10px;
}

.brand .icon{
    width: 50px;
}

.brand .text{
    text-indent: 0;
    font-size: 135%;
    font-variant: all-small-caps;
    color: darkslategrey;
}

.brand .item {
    padding: 0;
    justify-content: center;
}

.brand .item:hover {
    background: none;
}

.brand .item:hover .icon {
    display: block
}

.brand .item:hover .text {
    color: darkslategrey;
}

/* Middle Styles */

.side {
    height: 75vh;
    width: 100%;
    text-align: -webkit-center;
}

/* Footer Styles */

.footer {
    height: 10vh;
    width: 100%;
    text-align: -webkit-center;
}

/* Items Styles */

.content {
    width: 100%;
}

.item {
    /* padding: 10px 0px 10px 30px; */
    text-indent: 0px;
    margin-bottom: 40px;
    display: grid;
    align-items: center;
    border-radius: 10px;
}

.item-active {
    /* padding: 10px 0px 10px 30px; */
    text-indent: 0px;
    margin-bottom: 40px;
    display: grid;
    align-items: center;
    border-right: 3.5px solid #4b55c1;
    /* border-radius: 10px;
    background-color: #c0d2f9; */
}

.item-active .text {
    color: #4b55c1;
}

/* .item-active .icon {
    display: none
} */

/* .item-active .icon-hover {
    display: block
} */

/* .item:hover{
    background-color: #c0d2f9
}

.item:hover .text {
    color: white;
}

.item:hover .icon {
    display: none
}

.item:hover .icon-hover {
    display: block
} */

.icon {
    width: 20px;
}

.icon-hover {
    width: 15%;
    display: none;
}

.text {
    font-size: 115%;
    font-variant: all-small-caps;
    color: darkslategrey;
}

@media (max-width: 1400px), (max-height: 700px) {
    .sidenav {
        height: 100%;
        width: 80px;
        min-width: 10vh;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        border-right: 0.5px solid lightgray;
    }

    .text {
      display: none;
    }
    
    .item, .item-active {
        padding: 0;
        display: grid;
        text-indent: 20px;
    }
  }